.footer {
  display: flex;
  width: 950px;
  margin: 50px auto;
  margin-top: 90px;
  font-size: 10px;
}

.footer-image-container {
  margin-top: 10px;
  flex: 0 2 45%;
  overflow: hidden;
  height: 475px;
  position: relative;
  left: -50px;
}

.footer-image-container img {
  margin-left: -150px;
  height: 100%;
}
.right-of-image {
  flex: 0 1 55%;
  text-align: center;
  padding: 0px;
}

.reasons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reasons i {
  font-size: 30px;
}

.why-choose-object {
  max-width: 150px;
  min-height: 180px;
  padding: 5px;
  margin: 5px;
  transition: 0.2s ease;
}

.why-choose-object:hover {
  background: #fff;
}
.why-choose-object > h3 {
  color: #ff8e14;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    width: 100%;
  }

  .right-of-image {
    text-align: left;
    padding-left: 20px;
  }

  .footer-image-container {
    left: 0;
    text-align: center;
    height: 400px;
  }
  .reasons {
    justify-content: center;
    text-align: center;
  }
}
