.footer {
  display: flex;
  width: 900px;
  margin: 50px auto;
  margin-top: 60px;
  font-size: 10px;
}

.footer-image-container {
  margin-top: 10px;
  flex: 0 2 40%;
  overflow: hidden;
  height: 500px;
  position: relative;
  left: -50px;
}

.footer-image-container img {
  margin-left: -150px;
  height: 100%;
}
.right-of-image {
  flex: 0 1 60%;
  text-align: center;
  padding: 20px;
}

.reasons {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reasons i {
  font-size: 30px;
}

.why-choose-object {
  max-width: 160px;
  max-height: 240px;
  padding: 5px;
  transition: 0.2s ease;
}

.why-choose-object:hover {
  background: #fff;
}
.why-choose-object > h3 {
  color: #ff8e14;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    width: 100%;
  }

  .right-of-image {
    text-align: left;
  }

  .footer-image-container {
    left: 0;
    text-align: center;
    height: 450px;
  }
  .reasons {
    justify-content: center;
    text-align: center;
  }
}
