.header-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    #dfeefb 50%,
    #fff 50%
  ); /* A little hacky. Does not support < IE10 */
  padding: 0 100px;
}

.header {
  position: relative;
}
.logo {
  position: absolute;
  font-size: 24px;
  top: 30%;
  left: 5%;
}

.header-contacts {
  display: flex;
  flex: 0 0 50px;
  justify-content: flex-end;
  align-items: center;
  color: #595f64;
  position: relative;
  max-height: inherit;
}

.header-contacts span {
  padding-left: 25px;
  font-size: 10px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 50px;
  align-items: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  font-weight: bold;
  font-size: 10px;
  height: 100%;
}

.navbar li {
  display: inline-block;
  padding-left: 35px;
}

.navbar li > a {
  color: #222;
  text-decoration: none;
  text-align: center;
}

.navbar li > a:hover {
  color: #aaa;
}
.navbar-menu,
.header-menu,
.booking {
  display: none;
}

@media screen and (max-width: 768px) {
  .header-container {
    background: linear-gradient(to bottom, #dfeefb 50%, #dfeefb 50%);
  }

  .navbar,
  .header-contacts {
    display: none;
  }
  .navbar-menu,
  .header-menu,
  .booking {
    display: inline;
  }
}
