.header-container {
  display: flex;
  flex-direction: column;
}

.logo {
  position: absolute;
}

.header-contacts {
  display: flex;
  justify-content: flex-end;
  background-color: #4bbdb3;
  padding: 15px 0px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 15px;
}

.navbar li {
  display: inline;
  padding: 14px;
}

.navbar li a {
  color: #222;
  text-decoration: none;
  text-align: center;
}
