.slide {
  position: relative;
  width: 200px;
  height: 250px;
  margin-right: 20px;
  overflow: hidden;
  display: inline-block;
  font-size: 10px;
  line-height: 1.6em;
}

.slide img {
  height: 100%;
}

.slide p {
  white-space: normal;
}

.slide a {
  text-decoration: none;
  font-weight: bold;
  color: #2673b5;
}

.slide a:visited {
  color: #2673b5;
}

.overlay h3 {
  color: #fff;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  overflow: hidden;
  max-width: 100%;
  height: 20%;
  transition: 0.5s ease;
  padding: 0 15px;
}

.overlay p,
.overlay a {
  padding: 10px 0;
}

.overlay-content {
  opacity: 0;
  transition: 0.5s ease;
}

.overlay-content > a::after {
  content: "\203A";
  margin-left: 5px;
  color: grey;
  transition: 0.2s ease;
}

/* not sure if this is good styling or not */
.overlay-content > a:hover::after {
  content: "\203A";
  margin-left: 10px;
}
.slide:hover .overlay {
  height: 60%;
  background-color: #fff;
}

.slide:hover .overlay h3 {
  color: #ff8e14;
}

.slide:hover .overlay-content {
  opacity: 1;
}
