.service-header {
  max-width: 900px;
  margin: auto;
  position: relative;
  margin-top: 180px;
}
.service-header h2 {
  display: inline;
}

.service-slides {
  width: 900px;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
}

.slide-arrow {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .service-container {
    width: 100%;
  }

  .service-header {
    width: 100%;
  }

  .service-header button {
    display: none;
  }

  .service-slides {
    width: 100%;
  }
}
