.service-header {
  width: 900px;
  margin: auto;
  position: relative;
  margin-top: 180px;
}
.service-header > h2 {
  display: inline;
}

.service-header button {
  margin-top: 14px;
  float: right;
}

.service-slides {
  width: 900px;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
}

.slide-arrow {
  cursor: pointer;
}

.mobile-button {
  display: none;
}

.desktop-button {
  display: inline;
}

@media screen and (max-width: 768px) {
  .service-container {
    width: 100%;
  }

  .mobile-button {
    display: block;
  }

  .desktop-button {
    display: none;
  }

  .service-header {
    width: 100%;
    margin-top: 20px;
  }

  .service-header button {
    display: none;
  }

  .service-slides {
    width: 100%;
  }
}
