html {
  background-image: linear-gradient(to right, #fff8f0, #fff8f0);
  background-position: 460px 320px;
  background-repeat: no-repeat;
  color: #333;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: 2px solid black;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 20px;
  transition: 0.2s ease;
  font-size: 10px;
  letter-spacing: -0.1em;
}

button:hover {
  background-color: #ccc;
}

button:focus {
  display: none;
}

h2 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  letter-spacing: 0.05em;
}

h3 {
  color: #ff8e14;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: -0.05em;
}

hr {
  border-top: 2px solid #707070;
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  html {
    background-position: 0 270px;
  }
}
