html {
  background-image: linear-gradient(to right, #fff8f0, #fff8f0);
  background-position: 460px 270px;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: 2px solid black;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 15px;
  font-size: 10px;
}
